:root {
  /* Fonts */
  --font-primary: 'Roboto', sans-serif;
  
  /* Background colors */
  --bg-color-primary: #f1f1f1;
  --bg-color-secondary: #222;

  /* Colors */
  --color-primary: #333;
  --color-secondary: white;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-primary);
  background-color: var(--bg-color-primary);
  color: var(--color-primary);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: blue;
  padding: 10px;
}