:root {
  /* Fonts */
  --font-primary: 'Roboto', sans-serif;

  /* Background colors */
  --bg-color-primary: #f2f2f2;
  --bg-color-secondary: #222;
  --modal-form-bg: #fff;

  /* Colors */
  --color-primary: #222;
  --color-secondary: #fff;
  --color-black: #000;
  --color-blue: #1590f5;
  --color-light-blue: #4bbae6;
  --color-grey: #bdbdbd;
  --color-dark-grey: #666666;
  --color-error: #dc3545;

  --moon-color: #505050;
  --sun-color: #dacc08;

  /* Transition Times */
  --time-200: 200ms;
  --time-300: 300ms;
  --time-500: 500ms;
}
/* 
BreakPoints
  Mobile: 480px;
  Tablets: 768px;
  SmallScreen: 1024px;
  Desktop: 1200px;
  ExtraLarge: 1201px; 
*/

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-primary);
  background-color: var(--bg-color-primary);
  color: var(--color-primary);
  transition: all var(--time-300) ease-in-out;
}

/* HEADER */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.25rem;
  display: flex;
  justify-content: end;
}
.change-theme {
  width: 2rem;
  height: 2rem;
  position: relative;
}
.change-theme:hover {
  transform: scale(1.1);
  transition: var(--time-300) all ease-in-out;
}
.change-theme__select {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 99;
}
.wrapper__icon {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: none;
  opacity: 0;
}
.wrapper__icon-showing {
  animation: showing-icon var(--time-500);
}
.wrapper__icon-hidding {
  animation: fade-out var(--time-500) alternate;
}
.wrapper__icon.show {
  display: block;
  opacity: 1;
}

.change-theme__icon {
  width: 100%;
  height: 100%;
}
.moon_icon { color: var(--moon-color); }
.sun_icon { color: var(--sun-color); }

/* MODAL CONTAINER */
.form__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form__container .title {
  margin-bottom: 15px;
}
.form__container .btn-primary {
  width: 100%;
  max-width: 180px;
  height: 50px;
  padding: 12px 25px;
  border-radius: 40px;
  text-align: center;
  border: 3px solid var(--color-blue);
  transition: var(--time-300) ease-in-out;
  transition-property: background-color, font-size;
}
.form__container .btn-primary:hover {
  background-color: var(--color-blue);
  color: var(--color-secondary);
  font-size: 1.1em;
}

/* MODAL FORM */
.modal-form {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  display: none;
  place-items: center;
  width: 100%;
  padding: 0.313rem 1rem;
  background-color: rgb(10, 10, 10, 0.5);
  -webkit-backdrop-filter: blur(0.25rem);
  backdrop-filter: blur(0.25rem);
  z-index: 999;
  opacity: 0;
}
.modal-form__active {
  display: grid;
  animation: fade-in var(--time-300) linear;
  opacity: 1;
}
.modal-form__close {
  animation: fade-out var(--time-300) linear;
}
.modal-form__close .modal-form__container {
  animation: bounce-out var(--time-500) ease;
}
.modal-form__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 37.5rem;
  padding: 3.5rem 2rem;
  position: relative;
  width: 100%;
  background-color: var(--modal-form-bg);
  z-index: 9999;
  border-radius: 2px;
  overflow: hidden;
  transition: min-height var(--time-300) ease-in-out;
}
.modal-form__container-animation {
  animation: bounce-in var(--time-500) ease;
}
.close-modal {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 999;
}
.close-modal-btn {
  width: 100%;
  height: 100%;
}
.form-step {
  display: none;
  background-color: var(--modal-form-bg);
}
.form-step.active {
  display: block;
  animation: slide 300ms 125ms ease-in-out both;
}
.form-step.first {
  animation-play-state: paused;
}

.form-group {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 25px 0px;
}
.form-input {
  padding: 4px 2px;
  border-bottom: 2px var(--color-grey) solid;
  transition: border-bottom var(--time-300) ease-in-out;
}
.form-input:focus {
  border-bottom: 2px solid;
  border-image: linear-gradient(
      50deg,
      var(--color-blue) 25%,
      var(--color-light-blue) 100%
    )
    1;
  font-weight: 500;
}
.form-input::placeholder {
  color: transparent;
}
.form-input:placeholder-shown ~ .form-label {
  top: 26px;
}
.form-label {
  display: block;
  position: absolute;
  left: 1px;
  transition: top var(--time-200) ease-in-out;
  pointer-events: none;
  top: 8px;
}
.form-input:focus ~ .form-label {
  top: 8px;
  color: var(--color-blue);
  font-weight: 500;
}
.error-message {
  position: absolute;
  bottom: 4px;
  font-size: 14px;
  color: var(--color-error);
}
.form-group.invalid-input > .form-label {
  color: var(--color-error);
}
.form-group.invalid-input > .form-input {
  border-color: var(--color-error);
}

/* MODAL BOTTOMS */
.buttons-containers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}
.btn-submit,
.btn-cancel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  padding: 12px 16px;
  overflow: hidden;
  transition: all 600ms cubic-bezier(0.23, 1, 0.32, 1);
}
.btn-submit {
  display: none;
}
.btn-cancel {
  box-shadow: 0 0 0 2px gray;
}
.btn-submit {
  box-shadow: 0 0 0 2px var(--color-blue);
}
.btn span {
  pointer-events: none;
}
.btn span:last-child {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}
.btn-cancel span:last-child {
  background-color: var(--color-dark-grey);
}
.btn-submit span:last-child {
  background-color: var(--color-blue);
}
.btn span:nth-child(-n + 2) {
  position: relative;
  z-index: 1;
}
.btn-cancel:hover {
  box-shadow: 0 0 0 2px var(--color-grey);
  color: var(--color-secondary);
}
.btn-submit:hover {
  color: var(--color-secondary)
}
.btn-submit:active,
.btn-cancel:active {
  transform: scale(0.95);
}
.btn-submit:hover span:last-child,
.btn-cancel:hover span:last-child {
  width: 250px;
  height: 250px;
  opacity: 1;
}

/* Loader */
.loader_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(0.938rem);
  backdrop-filter: blur(0.938rem);
}
.loader {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}
.loader::before,
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid var(--color-secondary);
  animation: prix-clip-fix 2s linear infinite;
}
.loader::after {
  border-color: #ff3d00;
  animation: prix-clip-fix 2s linear infinite, rotate 0.5s linear infinite reverse;
  inset: 6px;
}

/* UTILS */
.show {
  display: block;
}
.hidden {
  display: none;
}
.d-flex {
  display: flex;
}

/* DARK MODE */
@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--bg-color-secondary);
    color: var(--color-secondary);
    --modal-form-bg: var(--bg-color-secondary);
  }
  body.light-theme {
    background-color: var(--bg-color-primary);
    color: var(--color-primary);
    --modal-form-bg: var(--bg-color-primary);
  }
}

@media (min-width: 768px) {
  .modal-form__container {
    padding: 3.5rem;
  }
  .btn-submit,
  .btn-cancel {
    padding: 12px 24px;
  }
}

/* Animations */
@keyframes showing-icon {
  from { transform: scale(0); }
  to { transform: scale(1); }
}
@keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}
@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@keyframes prix-clip-fix {
  0% { clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0); }
  25% { clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0); }
  50% { clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%); }
  75% { clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%); }
  100% { clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0); }
}
@keyframes bounce-in {
  from { transform: scale(0.5); }
  to { transform: scale(1); }
}
@keyframes bounce-out {
  from { transform: scale(1); }
  to { transform: scale(0.8); }
}
@keyframes slide {
  0% {
    transform: translateX(200%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}